[Unit]
Description=Discord
After=syslog.target network.target
[Service]
User=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/cuda/bin"
Environment="com_camenduru_mongodb_uri=mongodb://127.0.0.1:27017/web?waitQueueMultiple=1000"
Environment="com_camenduru_discord_token=MT"
Environment="com_camenduru_job_default_type=sdxl-turbo"
Environment="com_camenduru_discord_result=/content/images/generating.jpg"
WorkingDirectory=/content/com.camenduru/discord
ExecStart=/bin/bash -c 'java -Dserver.port=3001 -jar target/discord-0.0.1.jar --spring.profiles.active=prod'
Restart=always
[Install]
WantedBy=multi-user.target
